@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

body{
  text-align: center;
  background: linear-gradient(to bottom, #6ab7f5, #000);
}

main{
  background-color: rgb(9, 56, 145);
  display: inline-block;
  margin-top: 2%;
}
